---
import Layout from '@/layouts/Layout.astro'
import { Flashlight } from '@/components/Flashlight'
---

<Layout title="404">
  <div class="max-w-[800px] mx-auto py-16 px-4 md:px-8">
    <h1 class="text-[4rem] md:text-[9rem] leading-tight font-bold">Not Found</h1>
    <p class="text-3xl mb-24 text-gray-800/90 dark:text-gray-200/90">
      Sorry, this link is broken. Maybe something got deleted, or moved. In any case, there's nothing to see here.
    </p>
    <a class="text-accent text-xl md:text-2xl inline-flex" href="/"
      ><i class="iconfont icon-arrow-left-up"></i>
      <span class="ml-2">Send back to homepage</span></a
    >
  </div>
  <Flashlight client:only="react" />
</Layout>
